body {
    max-width:1100px;
    background-color: lightblue;
}

.recipe-title {
    font-size:24px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    margin: 0 auto;
    width: 500px;
    color:beige;
}

.container {
    max-width: 1190px;
}

.hero {
    display: block;
    margin: 0 auto;
}

.links {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 1px solid blanchedalmond;
    gap: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top:20px;
}

.links a {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: aliceblue;
    width: 100px;
    height: 100px;
}